---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About me">
  <h1>Aloha! 🏃‍♂️</h1>
  <p>Welcome to my new multi-page portfolio built with Vite, React, and Astro.</p>
</MainLayout>